body{
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	h3{
		font-family: $secondary-font;
	}
	p, li, a, button{
		font-family: $secondary-font;
		font-size: 18px;	
	}
}

.text__right{
	text-align: right;
}

.color{
	&__red{
		color: red;
	}
	&__grey{
		color: #595959;
	}
}

.primary-btn{
	background-color: $primary-color;
	color: white;
	border: 2px solid white;
	border-radius: 6px;
	padding: 5px 8px;
	margin: 10px 0px;
	transition: 0.5s;
	&:hover{
		background-color: $dark-primary;
		border: 2px solid $faded-primary;
	}
}


.heading{
	font-family: $primary-font;
	text-align: center;
	text-transform: uppercase;
	&--margin{
		margin: 40px 0px;
	}
}

.section--padding{
	padding-bottom: 60px;
}