body{
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	h3{
		font-family: $secondary-font;
	}
	p, li, a, button{
		font-family: $secondary-font;
		font-size: 18px;	
	}
}

.text__right{
	text-align: right;
}

.color{
	&__red{
		color: red;
	}
	&__grey{
		color: #595959;
	}
}

.primary-btn{
	background-color: $btndark;
	color: white;
	border: 0px;
	border-radius: 0px;
	outline: 0px;
	padding: 5px 15px;
	margin: 10px 0px;
	transition: 0.3s;
	&:hover{
		background-color: $btnprimary;
		cursor: pointer;
		box-shadow: 1px 1px 2px $btndark;
	}
}


.heading{
	font-family: $primary-font;
	text-align: center;
	text-transform: uppercase;
	&--margin{
		margin: 40px 0px;
	}
}

.section--padding{
	padding-bottom: 60px;
}