@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Biryani');

//Colors
$primary-color: #014a81;
$secondary-color: #e5ec12;
$btnprimary: #2c8715;
$btndark: #3ca522;

$faded-primary: #2189d3;
$dark-primary: #003860;

$darkgrey: #111111;

//Social Media Color
$fb-color: #2778a5;
$youtube-color: #c93032;
$twitter-color: #2ea7e0;
$googleplus-color: #d84e34;

//Fonts
$primary-font: 'Anton', sans-serif;
$secondary-font: 'Abel', sans-serif;

$nepali-font: 'Biryani', sans-serif;;