@import "../../base/_variables.scss";

.sales,
.repair,
.section--padding-page {
  ol {
    li {
      list-style-type: decimal !important;
    }
    margin: 0px 40px;
  }
  h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: $btndark;
    .rightext {
      color: $primary-color;
    }
  }
}