.contact{
	/* top, transparent red, faked with gradient */ 
	background: linear-gradient(rgba(1, 74, 129, 0.9), rgba(1, 74, 129, 0.9)),
	url('https://tctechcrunch2011.files.wordpress.com/2015/09/shutterstock_286900829.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding-bottom: 60px;
	h1{
		margin: 40px 0px;
	}
	p{
		color: $secondary-color;
		font-size: 16px;
	}
}