.footer{
	background-color: $darkgrey;
	color: white;
	&-details{
		a{
			color: white;
			transition: 0.1s ease-in-out;
		}
		a:hover, a:active, a:focus{
			color: $secondary-color;
		}
	}
	.icons{
		a{
			font-size: 30px;
		}
		a:first-child, i:first-child{
			margin: 0px 0px 0px 0px;
		}
		a, i{
			margin: 0px 0px 0px 8px;
		}
	}
	.copyright{
		background-color: $dark-primary;
		padding: 10px 0px 0px 0px ;
		p{
			text-align: center;
		}
		a{
			color: $secondary-color;
			transition: 0.3s ease-in-out;
			&:hover{
				color: white;
			}
		}
	}
	.fa{
		transition: 0.3s ease-in-out;
		&:hover{
			cursor: pointer;
		}
		&-facebook-official:hover{
			color: $fb-color;
		}
		&-youtube:hover{
			color: $youtube-color;
		}
		&-twitter:hover{
			color: $twitter-color;
		}
		&-google-plus:hover{
			color: $googleplus-color;
		}
	}
}

//Go to top
.back-to-top {
	position: fixed;
	right: 1%;
	bottom: -7.5%;
	height: 15px;
	width: 40px;
	padding: 3px 5px;
	font-size: 10px;
	font-weight: bold;
	color: transparent;
	opacity: 0.5;
	z-index: 3;
	visibility: hidden;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.25s ease-in-out;
	background-color: $btndark;
	outline: 0;
	&:hover,
	&:focus {
		opacity: 1;
		text-decoration: none;
		outline: 0;
	}

	&:focus {
		outline: thin dotted;
		outline: 0;
	}
}

.back-to-top::before,
.back-to-top::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top: 0;
	outline: 0;
}

.back-to-top::before {
	top: -20px;
	z-index: 4;
	border-bottom: 20px solid $btndark;
}

.back-to-top::after {
	bottom: 0;
	z-index: 5;
	border-bottom: 20px solid $btnprimary;
}

.back-to-top:hover,
.back-to-top:focus {
	height: 40px;
	color: #212223;
}

.show-back-to-top {
	display: block;
	bottom: 1.25%;
	visibility: visible;
}