.footer{
	background-color: #323232;
	color: white;
	a{
		color: white;
	}
	a:hover, a:active, a:focus{
		color: $secondary-color;
	}
	.icons{
		font-size: 30px;
		i:first-child{
			margin: 0px 0px 0px 0px;
		}
		i{
			margin: 0px 0px 0px 8px;
		}
	}
	.copyright{
		background-color: $primary-color;
		padding: 10px 0px 0px 0px ;
		p{
			text-align: center;
		}
	}
}