.gallery-title {
  text-align: center;
  margin: 50px;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
}

.filter-button {

}

.filter-button:hover {

}

.btn-default:active .filter-button:active {

}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}