img {
  max-width: 100%;
}

//Slider
.hero{
  &--slider{
    margin-top: -20px;
  }
}

/*START SLIDER CSS  */

.slider_item1 {
  min-height: 300px;
  max-height: 530px;
}

.slider_bg_1 {
  background-image: url("http://commonpixel.com/themes/edgar/images/examples/photo_02.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.slider_bg_2 {
  background-image: url("http://commonpixel.com/themes/edgar/images/examples/slideshow_01.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.slider_bg_3 {
  background-image: url("http://commonpixel.com/themes/edgar/images/examples/slideshow_03.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.overlay_background {
  height: 530px;
  width: 100%;
  background: rgba(11, 25, 45, 0.4);
  //rgba(1, 56, 96, 0.9)
}

.description {
  margin-top: 150px;
}

.title {
  color: #fff;
}

.title p {
  margin: 0 0 5px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
}

.title h1 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 50px;
  color: #fff;
}

.button {
  position: relative;
  display: inline-block;
  padding: 8px 28px;
  background: none;
  font-weight: normal;
  text-transform: uppercase;
  font-size: .9em;
}

.button.primary {
  background: #ffa726;
  color: #fff;
}

.button.primary:hover {
  background: #0b192d;
  color: #fff;
  text-decoration: none;
}

.button.large {
  padding: 10px 35px;
}

.button.transparent {
  background: rgba(255, 255, 255, 0.2);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  margin-left: 20px;
}

.button.transparent:hover {
  background: #0b192d;
  outline: 1px solid #0b192d;
  color: #fff;
  text-decoration: none;
}

.button.large {
  padding: 10px 35px;
}

.title .break {
  display: block;
}

element.style {}

.carousel-indicators{
  z-index:5 !important;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 30px!important;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: $btndark !important;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white!important;
  border-radius: 0px!important;
}

.carousel-indicators .active {
  width: 12px;
  height: 15px!important;
  margin: 0;
  background-color: $btndark !important;
}
/*END SLIDER CSS  */




@media only screen and (max-width: 768px) {

}
@media only screen and (min-width: 1170px) {

}
