.marqueeNews{
	padding-bottom: 50px;
	.latestnews{
		background-color: #f00;
		opacity: 0.8;
		color: #fff;
		p{
			font-weight: bold;
			margin-bottom: 1px;
		};
	}
}

.m-news{
	background-color: $primary-color;
	color: #fff;
	border-right: 5px solid #f00;
	p{
		margin: 0px;
	padding: 0px;
	}
}


@media (max-width: 700px){
	.marqueeNews{
	padding-bottom: 20px;
}
}