@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
@import url("https://fonts.googleapis.com/css?family=Abel");
/* line 4, ../../../sass/module/pages/services_page.scss */
.sales ol, .repair ol {
  margin: 0px 40px;
}
/* line 5, ../../../sass/module/pages/services_page.scss */
.sales ol li, .repair ol li {
  list-style-type: decimal !important;
}
/* line 10, ../../../sass/module/pages/services_page.scss */
.sales h3, .repair h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #3ca522;
}
/* line 14, ../../../sass/module/pages/services_page.scss */
.sales h3 .rightext, .repair h3 .rightext {
  color: #014a81;
}

/* line 21, ../../../sass/module/pages/services_page.scss */
.pagenav .rightside {
  text-align: right;
}
